$color_gray_1: #fff;
$color_gray_2: #ccc;
$color_gray_3: #e6e6e6;
$color_gray_4: #888;
$color_gray_5: #666;

$color_bg: $color_gray_1;
$color_delimiter: $color_gray_3;
$color_primary_text: $color_gray_5;
$color_secondary_text: $color_gray_4;

$font_size_small: 14px;
$font_size_normal: 24px;
$font_size_large: 100px;


