/**
* author: Ivan Metelev || ok.ru/i.metelev/
* created: 13.10.19
*
* @project class: .actions-bar
* @comments: Панель дополнительных действий над списком задач
**/

/* Actions bar
---------------------------------------------------------------------------------- */
@import "./_vars.scss";

.actions-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px $color_delimiter solid;
    height: 40px;
    padding: 3px 12px;
    box-sizing: border-box;
    font-size: $font_size_small;
    color: $color_gray_4;
    }

    .actions-bar__item {
        
        }

/* /Actions bar
---------------------------------------------------------------------------------- */