@import "./_vars.scss";

html,
body {
    margin: 0;
    padding: 0;
    }

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: $color_gray_5;
    }

h1 {
    margin: 0;
    font-weight: 400;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

input[type="text"] {
    border: 0 none;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    font-family: 'Roboto', 'Arial', sans-serif;
    }
    input[type="text"]::placeholder {
        color: $color_gray_2;
        font-style: italic;
        }

button {
    border: 0 none;
    background-color: transparent;
    }
