/**
* author: Ivan Metelev || ok.ru/i.metelev/
* created: 13.10.19
*
* @project class: .task-clear-completed
* @comments: Управление сбросом состояния задач, отмеченных выполненными
**/

/* Clear completed task status button
---------------------------------------------------------------------------------- */

@import "./_vars.scss";

.task-clear-completed {
    margin: 0;
    border: 0;
    padding: 8px 0;
    font-size: $font_size_small;
    color: $color_secondary_text;
    font-weight: 300;
    }

/* /Clear completed task status button
---------------------------------------------------------------------------------- */