/**
* author: Ivan Metelev || ok.ru/i.metelev/
* created: 13.10.19
*
* @project class: .task-item
* @comments: Вывод и редактирование задачи
**/

/* Task item
---------------------------------------------------------------------------------- */

@import "./_vars.scss";

.task-item {
    box-sizing: border-box;
    border-bottom: 1px $color_delimiter solid;
    }

    .task-item__view {
        display: flex;
        flex-grow: 1;
        align-items: center;
        min-height: 59px;
        overflow: hidden;

        &:hover {
            background-color: #FAFAFA;
            }
        }

        .task-item__status-input {
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            margin: 0 0 0 -40px;
            }

        .task-item__status-icon {
            flex-shrink: 0;
            width: 36px;
            height: 36px;
            box-sizing: border-box;
            margin: 0 12px 0 22px;
            border: 1px $color_delimiter solid;
            border-radius: 50%;
            background-color: $color_bg;

            .task-item__status-input:checked + & {
                background-image: url("../img/check.svg");
                background-position: 6px 8px;
                background-repeat: no-repeat;
                border-color: #5DC2AF;
                }

            .task-item__status-input:focus + & {
                border-color: $color_gray_2;
                }

            .task-item__view:hover .task-item__status-input:not(:checked) + & {
                border-color: $color_gray_2;
                }
            }

        .task-item__text {
            display: flex;
            flex-grow: 1;
            min-width: 0;
            padding: 12px 0;
            word-break: break-word;
            font-size: $font_size_normal;

            .task-item__status-input:checked ~ & {
                color: $color_gray_2;
                text-decoration: line-through;
                }
            }

        .task-item__delete {
            flex-shrink: 0;
            width: 36px;
            height: 36px;
            margin: -9999px 4px 0 12px;
            text-indent: -9999px;
            background-image: url("../img/cross.svg");
            background-repeat: no-repeat;
            background-position: 50%;

            &:focus,
            .task-item__view:hover & {
                margin-top: 0;
                }

            @media (hover: none) {
                & {
                    margin-top: 0;
                    }
                }
            }

    .task-item__edit {
        padding-left: 56px;
        }

        .task-item__input {
            height: 59px;
            width: 100%;
            box-sizing: border-box;
            font-size: $font_size_normal;
            }

/* /Task item
---------------------------------------------------------------------------------- */