/**
* author: Ivan Metelev || ok.ru/i.metelev/
* created: 13.10.19
*
* @project class: .task-filter
* @comments: Управление фильтрацией задач по заданному признаку
**/

/* Task filter
---------------------------------------------------------------------------------- */

@import "./_vars.scss";

.task-filter {
    display: flex;
    }

    .task-filter__item {
        padding: 8px 0;
        overflow: hidden;

        & + & {
            margin-left: 6px;
            }
        }

        .task-filter__input {
            width: 30px;
            height: 0;
            margin-left: -30px;
            }

        .task-filter__text {
            padding: 2px 6px;
            border: 1px transparent solid;
            border-radius: 3px;

            .task-filter__input:checked + & {
                border-color: #EBDFDF;
                }

            .task-filter__input:focus + & {
                border-color: $color_gray_2;
                }
            }

/* /Task filter
---------------------------------------------------------------------------------- */