/**
* author: Ivan Metelev || ok.ru/i.metelev/
* created: 13.10.19
*
* @project class: .title
* @comments: Заголовок
**/

/* Title
---------------------------------------------------------------------------------- */

@import "./_vars.scss";

.title {
    text-align: center;
    color: $color_gray_2;
    font-weight: 100;
    font-size: $font_size_large;
    text-transform: lowercase;
    line-height: 1;
    }

/* /Title
---------------------------------------------------------------------------------- */