/**
* author: Ivan Metelev || ok.ru/i.metelev/
* created: 13.10.19
*
* @project class: .todo-app
* @comments: Каркас приложения
**/

/* Todo app main layout
---------------------------------------------------------------------------------- */

@import "./_vars.scss";
@import "./_mixins.scss";

.todo-app {
    position: relative;
    width: 80%;
    max-width: 560px;
    min-width: 460px;
    margin: 0 auto 20px;
    }
    .todo-app::before {
        @include shadow;
        content: '';
        position: absolute;
        top: 100%;
        left: 2px;
        right: 2px;
        height: 5px;
        z-index: -1;
        }
    .todo-app::after {
        @include shadow;
        content: '';
        position: absolute;
        top: 100%;
        left: 4px;
        right: 4px;
        height: 10px;
        z-index: -2;
        }

    .todo-app__header {

        }

    .todo-app__frame {
        @include shadow;
        position: relative;
        z-index: 1;
        }

        .todo-app__main-controls {
            
            }

        .todo-app__tasks {

            }

            .todo-app__task-list {

                }

                .todo-app__task-item {

                    }

        .todo-app__actions-bar {

            }

/* /Todo app main layout
---------------------------------------------------------------------------------- */